<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.neo.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.neo.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/saveEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empServletAction</servlet-name>
    <servlet-class>com.neo.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empServletAction</servlet-name>
    <url-pattern>/empUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateEmployee</servlet-name>
    <servlet-class>com.neo.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployee</servlet-name>
    <url-pattern>/editEmpUrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>intnServlet</servlet-name>
    <servlet-class>com.neo.controller.IntnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intnServlet</servlet-name>
    <url-pattern>/intnUrl</url-pattern>
  </servlet-mapping>
</web-app>